.listContainer {
    direction: rtl;

    .backgroundImg {
        z-index: 0;
        width: 100%;
        height: 300px;
    }

    .addTaskContainer {
        display: flex;
        gap: 5px;
        margin-bottom: 15px;

        .addBtn {
            width: 150px;
            
        }
    }
}
